
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa {
    display: flex;

    background-image: url(../../assets/elena-mozhvilo-znhEe1cbbQE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;

    
    justify-content: center;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;

    
    justify-content: center;
    

}



.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen {
    display: none;
    background-image: url(../../assets/astronautaa.png);

}

header {
    display: flex;
    width: 80%;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
    gap: 1rem;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(5px);
    padding-bottom: 20px;
    border: solid 1px rgba(255, 255, 255, 0.485);

    
    
  
}

.titulo {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 80%;
    justify-content: center;

}

.titulo h2 {
    font-size: 35px;

    color: white;

}

.titulo p {
    font-size: 20px;

    color: white;

}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 80%;
    width: 100%;
    align-items: center;

}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 280px;
    



}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}


.inputs-login {
    padding: 15px;
    border-radius: 7px;

    border: solid 1px rgba(255, 255, 255, 0);
    width: 290px;

   

}

.marcar {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;

    


}

.botão {
    display: flex;
    justify-content: center;

}

#Enviar {
    padding: 17px;
    color: white;
    border-radius: 7px;

    background-color: rgb(50, 142, 240);
    border: solid 1px rgba(255, 255, 255, 0);

 
    width: 286px;
    cursor: grab;
}

/* Display None para não aparecer */
.erro{
    display: none;
    color: white;
}

p {
    color: rgb(70, 70, 70);
    display: flex;
    gap: 0.5rem;
}

#Clique-aqui-link {
    text-decoration: none;

    color: rgb(255, 255, 255);

}

.sem_conta {
    text-align: center;
    font-size: 15px;
    width: 286px;
    display: flex;
    justify-content: space-between;

}


#esqueci-senha {
    text-decoration: none;

    color: rgb(255, 255, 255);
}

.não_conta{
    color: white;

}

/* Mobile Grande */

@media (min-width: 600px) {

    .caixa {
        width: 100%;
        min-height: 80%;

    }

    #logo {
        width: 190px;
    }

    .titulo h2 {
        font-size: 45px;
    }

    .titulo p {
        font-size: 19px;
    }

    .formulario {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        width: 400px;

    }

    .inputs-login {
        width: 400px;
        padding: 16px;

    }

    .marcar {
       
        font-size: 15px;
        justify-content: space-around;
        gap: 10rem;

    }

  

    #Enviar {
        padding: 19px;
        width: 400px;

    }

    .sem_conta {
        font-size: 15px;
        width: 610px;
        display: flex;
        justify-content: space-around;
    }

}

/* Tablet */

@media (min-width: 768px) {
    #logo {
        width: 250px;
    }



    .titulo h2 {
        font-size: 50px;
    }

    .titulo p {
        font-size: 20px;
    }



    



}

/* Nootbook */

@media (min-width: 992px) {
    .inputs {
        width: 520px;
    }



    main {
        flex: 1;
    }

    #Enviar {
        width: 406px;
    }

}

/* Desktoop */
@media (min-width: 1200px) {

   

    .caixa {
        display: flex;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100%;
        gap: 1rem;
        padding-bottom: 30px;
        
    }

    .imagenn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .posicionar_imagen{
        background-image: url(../../assets/nave_espacial.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
        width: 70%;
        height: 70%;  
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #logo {
        width: 140px;
    }

    .titulo h2 {
        font-size: 50px;
    }

    .titulo p {
        font-size: 20px;
    }

    .inputs-login {
        width: 360px;
        padding: 12px;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        
        
    }

  

    #Enviar {
        padding: 12px;
        width: 360px;
    }

    .sem_conta{
        width: 100%;
    }

    


}